.hero-list-container {
  display: flex;
  justify-content: left;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 1000px;
}

.hero-item {
  width: 30%;
  margin: 5px;
  cursor: pointer;
}

.hero-item.available {
  color: green;
}

.hero-item.unavailable {
  color: red;
}